.e-header {
  padding: 16px 32px;
}
.main-nav {
  display: flex;
}
.e-logo {
  font-weight: var(--font-weight-bold);
  margin-right: auto;
}

.main-nav-items {
  display: flex;
  align-items: flex-end;
  align-self: flex-end;
}

.main-nav-item {
  padding-left: 24px;
}
.main-nav-item i {
  font-size: 1.5rem;
  display: block;
}

@media screen and (max-width: 48rem) {
  .e-header {
    padding: 16px;
  }

  .main-nav-items {
    align-self: center;
  }
}

.category-list {
  margin: 12px auto 12px;
  display: flex;
  justify-content: center;
  gap: 24px;
}
.category-item {
  cursor: pointer;
  font-weight: var(--font-weight-semi-bold);
}

@media screen and (max-width: 48rem) {
  .category-list {
    display: none;
  }
}
